In [42]:
url = "https://drive.usercontent.google.com/uc?id=1Jgto7psHaMRTAVzcFt7D6SgJiHMB7uGT"

In [43]:
import pandas as pd

escolas = pd.read_csv(url)

escolas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Escola        15 non-null     int64
 1   Nome_Escola      15 non-null     object
 2   Tipo_Escola      15 non-null     object
 3   Numero_Alunos    15 non-null     int64
 4   Orcamento_Anual  15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 732.0+ bytes

In [49]:
#Orçamento total das escolas

import pandas as pd

escolas = pd.read_csv(url)

orcamento_total = escolas['Orcamento_Anual'].sum()

print(f"O orçamento total foi de: R$ {orcamento_total:,.2f} ")

O orçamento total foi de: R$ 24,649,428.00

In [45]:
#Escola que tem o maior e menor gasto por aluno

import pandas as pd

escolas = pd.read_csv(url)

escolas['Gasto_Per_Capita'] = escolas['Orcamento_Anual'] / escolas['Numero_Alunos']

escola_com_maior_gasto = escolas['Gasto_Per_Capita'].idxmax()
escola_com_menor_gasto = escolas['Gasto_Per_Capita'].idxmin()

print(f"Gasto per capita: {escolas.loc[escola_com_maior_gasto, 'Gasto_Per_Capita']}")
print(f"Gasto per capita: {escolas.loc[escola_com_menor_gasto, 'Gasto_Per_Capita']}")

Gasto per capita: 655.0
Gasto per capita: 578.0

In [46]:
#Média do numero de alunos por tipo de escola

import pandas as pd

escolas = pd.read_csv(url)

media_alunos = escolas.groupby('Tipo_Escola').mean('Numero_Alunos')

print(media_alunos)

             ID_Escola  Numero_Alunos  Orcamento_Anual
Tipo_Escola
Particular    7.250000    1524.250000     9.126881e+05
Publica       6.714286    3853.714286     2.478275e+06

In [47]:
#Quantas escolas tem um orçamento anual acima de 1,5 milhão

import pandas as pd

escolas = pd.read_csv(url)

orcamento_total_escolas = len(escolas[escolas['Orcamento_Anual'] > 1500000])

print(f"{orcamento_total_escolas} escolas têm um orçamento anual acima de 1.5 milhão")

7 escolas têm um orçamento anual acima de 1.5 milhão